<p style="text-align:center;font-size:30px;;color:#C6B408">Design Your Template!</p>
<div class="center" style="display:flex; justify-content: center;">
  <form [formGroup]="RichTextForm">
    <quill-editor  [styles]="{height: '150px', backgroundColor:'#faf8f8'}" [modules]="quillConfiguration" formControlName="textEditor" [readOnly]="false"></quill-editor>
  </form>
</div>
<div class="example-button-row" style="text-align:center;padding-top:5px;">
  <button mat-raised-button color="accent" (click)="testEditorContent()">Test</button>
</div>

{{RichTextForm.value | json}}